/**
 * Editor styles
 */

.mosaic-for-woocommerce-blocks-add-to-cart-block {
	pointer-events:   none;
	background-color: #ddd;
}

.mosaic-for-woocommerce-blocks-add-to-cart-block:before {
	content:          'Add to cart area block';
	display:          block;
	background-color: rgba(200, 200, 200, .8);
	text-align:       center;
	font-style:       italic;
	padding:          15px;
}
