/**
 * Editor styles
 */

.mosaic-for-woocommerce-blocks-add-to-cart-block {
	pointer-events:   none;
	background-color: #ddd;
}

.mosaic-for-woocommerce-blocks-add-to-cart-block:before {
	content: 'Add to cart block';
	display: block;
}
